/* NOTES */

/* ID selectors are used for layout of the element */

/* Class selectors are used for styling the element */

/* selectors to be in alphabetical order */

/* see url(https://tenbit.co/blog/my-approach-to-writing-maintainable-css/) for more */

/* /NOTES */

/* body */

#body {
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 3fr 3fr 3fr 3fr;
    grid-template-areas: "header" "hero" "banner--one" "banner--two" "section" "footer";
    margin: 0;
}

.body {
    background-color: hsla(hue, saturation, lightness, alpha);
    color: #73757a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* /body */

/* header */

#header {
    display: block;
    grid-area: header;
    position: static;
    z-index: 999;
}

.header {
    background-color: #fff;
    font-weight: 700;
}

#navigation {
    display: block;
    margin-top: 0;
}

.navigation {
    padding: 0 8px;
    padding-top: 24px;
    padding-bottom: 24px;
}

#navigation-content {
    margin-right: auto;
    margin-left: auto;
    width: auto;
}
/* delete these? */
#navigation-content:before {
    content: " ";
    display: table;
    
}
/* delete these? */
#navigation-content:after {
    content: " ";
    display: table;
    clear: both;
}

.navigation-content {
    padding-left: 15px;
    padding-right: 15px;
}

#navigation-bar {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

/* delete these? */
#navigation-bar:before {
    content: " ";
    display: table;
    
}
/* delete these? */
#navigation-bar:after {
    content: " ";
    display: table;
    clear: both;
}

.navigation-bar {
    align-items: center;
   
}


/* /header */

/* main */

#hero {
    grid-area: hero;
}

.hero {
    background-color: red;
}

#banner {
    grid-area: banner--one, banner--two;
}

.banner {
    background-color: orange;
}

#section {
    grid-area: section;
}

.section {
    background-color: red;
}

/* /main */

/* footer */

#footer {
    grid-area: footer;
}

.footer {
    background-color: blue;
}

/* /footer */