/* NOTES */

/* ID selectors are used for layout of the element */

/* Class selectors are used for styling the element */

/* selectors to be in alphabetical order */

/* see url(https://tenbit.co/blog/my-approach-to-writing-maintainable-css/) for more */

/* /NOTES */

/* body */

#body {
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 3fr 3fr 3fr 3fr;
    grid-template-areas: "header" "hero" "banner--one" "banner--two" "section" "footer";
    margin: 0;
}

.body {
    background-color: hsla(hue, saturation, lightness, alpha);
    color: #73757a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* /body */

/* header */

#header {
    display: block;
    grid-area: header;
    position: static;
    z-index: 999;
}

.header {
    background-color: #fff;
    font-weight: 700;
}

#nav__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin-top: 0;
}

.nav__container {
    padding: 0 8px;
    padding-top: 24px;
    padding-bottom: 24px;
}

#nav__row {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

/* delete these? */

#nav__row:before {
    content: " ";
    display: table;
}

/* delete these? */

#nav__row:after {
    content: " ";
    display: table;
    clear: both;
}

.nav__row {
    padding-left: 15px;
    padding-right: 15px;
}

#nav__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#nav__content--logo {}

.nav__content--logo {
    font-size: 26px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

a, a:visited {
    text-decoration-style: none;
    color: black;
}

#nav__content--btn {}

.nav__content--btn {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

#navigation-btn-btn {}

.navigation-btn-btn {
    background-color: transparent;
    border: 2px solid transparent;
    border-color: #f64f64;
    border-radius: 3px;
    border-width: 1px;
    color: #f64f64;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    outline: none;
    padding: 5px 14px;
    text-align: center;
    touch-action: manipulation;
    transition: color .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;
    user-select: none;
    vertical-align: middle;
}

/* /header */

/* main */

#hero {
    grid-area: hero;
}

.hero {
    background-color: red;
}

#banner {
    grid-area: banner--one, banner--two;
}

.banner {
    background-color: orange;
}

#section {
    grid-area: section;
}

.section {
    background-color: red;
}

/* /main */

/* footer */

#footer {
    grid-area: footer;
}

.footer {
    background-color: blue;
}

/* /footer */